@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-purple: #2c0e37;
  --light-purple: #4a1e5a;
  --white: #ffffff;
  --off-white: #f0f0f0;
  --pl-purple: #3D195B;  /* Official Premier League purple */
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--dark-purple);
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
}

.App {
  min-height: 100vh;
  display: flex;
}

.App-content {
  display: flex;
  flex-grow: 1;
}

.App-nav {
  width: 250px;
  background-color: var(--light-purple);
  padding: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.App-nav ul {
  list-style-type: none;
  padding: 0;
}

.App-nav li {
  margin-bottom: 1rem;
}

.App-nav a {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--off-white);
  font-size: 1rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.App-nav a:hover {
  color: var(--white);
}

.App-main {
  flex-grow: 1;
  padding: 2rem 3rem;
  overflow-y: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--off-white);
  margin-bottom: 2rem;
  font-weight: 400;
}

/* Add some basic styling for the PlayerList component */
.player-list {
  background-color: var(--light-purple);
  border-radius: 8px;
  padding: 1.5rem;
}

.player-list h2 {
  margin-top: 0;
}

/* Add a subtle animation for links */
a {
  position: relative;
  text-decoration: none;
  color: var(--white);
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--white);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

.App-main img {
  max-width: 200px;  /* Adjust as needed */
  margin-bottom: 1rem;
}

.dashboard h2 {
  margin-bottom: 1rem;
}

.top-players, .team-logos {
  background-color: var(--light-purple);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.top-players h3, .team-logos h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.top-players ul {
  list-style-type: none;
  padding: 0;
}

.top-players li {
  margin-bottom: 0.5rem;
}

.logo-grid {
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  width: 100%;
  padding-bottom: 100%; /* This creates a 1:1 aspect ratio */
  position: relative;
}

.logo-wrapper img:hover {
  transform: scale(1.2);
}

.logo-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  object-fit: contain; /* This will maintain the aspect ratio of the logo */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.team-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.team-logo {
  text-align: center;
  margin-bottom: 20px;
}

.team-logo img {
  max-width: 200px;
  height: auto;
}

.top-players {
  display: flex;
  justify-content: space-between;
}

.player-list {
  flex: 1;
  margin: 0 10px;
}

.player-list ul {
  list-style-type: none;
  padding: 0;
}

.player-list li {
  margin-bottom: 5px;
}

.autocomplete {
  position: relative;
}

.autocomplete-results {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  color: black;
}

.autocomplete-results li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-results li:hover {
  background-color: #f0f0f0;
}

.autocomplete-results li.selected {
  background-color: #e0e0e0;
}

.player-selection input {
  color: black;
}

.comparison-data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.player-column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px;
  min-height: 200px; /* Adjust as needed */
}

.player-column h3 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.player-column p {
  margin: 5px 0;
}